[submodule "VoxSmith/vendor/spdlog"]
	path = VoxSmith/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VoxSmith/vendor/GLFW"]
	path = VoxSmith/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "VoxSmith/vendor/imgui-top-level/imgui"]
	path = VoxSmith/vendor/imgui-top-level/imgui
	url = https://github.com/ocornut/imgui
[submodule "VoxSmith/vendor/glm"]
	path = VoxSmith/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "VoxSmith/VoxSmith/vendor"]
	path = VoxSmith/VoxSmith/vendor
	url = https://github.com/eXpl0it3r/libnoise
[submodule "VoxSmith/vendor/fastNoise"]
	path = VoxSmith/vendor/fastNoise
	url = https://github.com/Auburn/FastNoiseLite.git
