[submodule "VoxSmith/vendor/spdlog"]
	path = VoxSmith/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VoxSmith/vendor/GLFW"]
	path = VoxSmith/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "VoxSmith/vendor/imgui-top-level/imgui"]
	path = VoxSmith/vendor/imgui-top-level/imgui
	url = https://github.com/ocornut/imgui
